{% extends 'base.html' %}

{% block title %}{{ pokemon|capfirst }}{% endblock title %}

{% block content %}

<h1 class="text-secondary mt-3">
    {{ pokemon|capfirst }}
</h1>

<hr style="border: 2px solid #17a2b8; width: 70%; margin-left: 0;">

<p>
    Has elegido el pokemon:
    <strong>{{ pokemon|capfirst }}</strong>
</p>

<h3>Características:</h3>

<ul>
    <li>Tipo: {{ pokemon.type }}</li>
    <li>Peso: {{ pokemon.weight }} kg</li>
    <li>Altura: {{ pokemon.height }} m</li>
    <li>Entrenador: {{ pokemon.trainer }}</li>
</ul>

<div class="row align-items-center mt-4">

    <div class="col-md-6">
        <img
            src="{{ pokemon.picture.url }}"
            alt="{{ pokemon.name }}"
            style="width: 100%; max-width: 430px; object-fit: contain;"
        >
    </div>

    <a href="{% url 'pokedex:index' %}" class="btn btn-info btn-lg shadow">
    <i class="fa-solid fa-arrow-left"></i>
    Regresar
</a>

<style>
    .btn-info{
        transition: 0.3s;
        border-radius: 12px;
        padding: 10px 25px;
        font-weight: bold;
    }

    .btn-info:hover{
        transform: scale(1.08);
        box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    }
</style>
    </div>

</div>

{% endblock content %}