{% extends "base.html" %}

{% block title %}Página Inicial{% endblock title %}

{% block content %}

<h3>Pokemons</h3>

<a href="{% url 'add_pokemon' %}" class="btn btn-success mb-3">
    <i class="fa-solid fa-plus"></i> Agregar Pokemon
</a>

<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-sm-4 mb-4">

        <a href="{% url 'pokemon' pokemon.id %}">{{ pokemon|capfirst }}</a>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" 
                 src="{{ pokemon.picture.url }}" 
                 alt="{{ pokemon.name }}"
                 style="height: 250px; object-fit: contain;">

            <div class="card-body">
                <h5 class="card-title">{{ pokemon|capfirst }}</h5>
                <p class="card-text">Altura: {{ pokemon.height }} m</p>

                <a href="{% url 'pokemon' pokemon.id %}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>

                <a href="{% url 'edit_pokemon' pokemon.id %}" class="btn btn-info">
                    <i class="fa-solid fa-pencil"></i>
                </a>

                <a href="{% url 'delete_pokemon' pokemon.id %}"
   class="btn btn-danger"
   onclick="return confirm('¿Seguro que deseas eliminar este pokemon?')">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

<h3>Entrenadores</h3>

<ul class="list-group mb-4">
    {% for trainer in trainers %}
    <li class="list-group-item">
        <a href="{% url 'trainer_details' trainer.id %}">{{ trainer|capfirst }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock content %}